__pycache__/
.chroma_db/
_site/
.site/
*.ipynb
!notebooks/*.ipynb
.DS_Store

/.quarto/
**/*.quarto_ipynb
.env
users/
__pycache__/
*.pyc
static/
data/
.DS_Store
auth/usuarios.csv
auth/pins_generated.txt
