chromadb>=0.4.0
sentence-transformers
fpdf2
numpy
jupyter
jupytext
arxiv
mteb
matplotlib
scikit-learn
pandas
langchain
langchain-community
langchain-text-splitters
pypdf
faiss-cpu
openai
deep-translator
