arxiv
chromadb>=0.4.0
deep-translator
faiss-cpu
fpdf2
jupyter
jupytext
langchain
langchain-community
langchain-text-splitters
matplotlib
mteb
numpy
openai
pandas
pypdf
scikit-learn
sentence-transformers
